@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


:root {
    --green:  #16a085;
    --black: #444;
    --light-color: #777;
    --box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow: .4rem .4rem 0 rgba(0,0,133,.2);
    --border: .2rem solid var(--green);
    --border-radius: 5px
}
* {
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

#logo, nav{
    display: inline;
}

a {
    text-decoration: none;
}

.btn{
    background: #fff;
    color: var(--green);
    border:var(--border);
    width: fit-content;
    padding: 0.5rem;
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    cursor: pointer;
}

.btn i{
    background: var(--green);
    color: #fff;
    padding:0.5rem;
    border-radius: 4px;
}

.btn:hover i{
    background: #fff;
    color: var(--green)
}

.btn:hover{
    background: var(--green);
    color:#fff;
    margin-left:1rem;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
    text-transform: uppercase;
    text-shadow: var(--text-shadow);
 }
 
 .heading span{
    text-transform: uppercase;
    color:var(--green)
 }

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    background: #fff;
}

.header #logo{
    font-size: 2.5rem;
    color: var(--black)
}

.header #logo i{
    color: var(--green)
}

.header #navigation a{
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
}

.header #navigation a:hover{
    color: var(--green)
}

#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #fff;
    color: var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

section{
    padding: 2rem 9%;
}
#home{
    padding-top: 10rem;
}

#home, #about-us,#book-section {
    display: flex;
    background: #fff;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}


.img{
    flex:1 1 45rem;
    width: 100%;
}

.right-text{
    flex:1 1 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.right-text h3{
    text-shadow: var(--text-shadow);
    color: var(--black);
    line-height: 1.8;
    font-size: 4.5rem;
    margin-bottom: 2rem;
}

.right-text h5{
    color:var(--light-color);
    opacity: 0.6;
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

#icons{
    width:100%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}

.icons-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--border);
    padding: 2rem;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
}

.icons-section i{
    color: var(--green);
    font-size: 4.5rem;
}

.icons-section h6{
        text-shadow: var(--text-shadow);
        color: var(--black);
        line-height: 1.8;
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
}

.icons-section p, .service p{
    color: var(--light-color)
}

.box{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.service, .doctor-section{
    padding:2rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
}

.service .icon{
    color: var(--green);
    font-size: 4.5rem;
    margin-bottom: 1rem;
}

.service h3{
    text-shadow: var(--text-shadow);
    color: var(--black);
        line-height: 1.8;
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
}

.service p{
    margin-bottom: 1rem;
}

.doctor-section{
    text-align: center;
    
}

.doctor-section img{
    width: 50%;
    border: var(--border);
    border-radius: var(--border-radius);
}

.doctor-section h3{
    font-size: 3rem;
}

.doctor-section p{
    color: var(--green);
    font-size: 1.5rem;
    margin-bottom:2rem;
}

.doctor-section i{
    color:var(--green);
    border: var(--border);
    padding: 1rem;
    font-size: 2rem;
    border-radius: var(--border-radius);
    margin-left: 1rem;
    cursor: pointer;
}

.doctor-section i:hover{
    color: #fff;
    background-color: var(--green);
}


#book-section .right-text{
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 2rem;
    align-items: center;
}

#book-section .right-text h4{
    font-size: 2rem;
    text-shadow: var(--text-shadow);
    color:var(--black)
}

#book-section .right-text input{
    border: var(--border);
    border-radius: var(--border-radius);
    margin:0.6rem;
    width:100%;
    padding: 1rem;
    text-transform: lowercase;
    color:var(--light-color)

}

#book-section .right-text button{
    color:var(--green);
    width:fit-content;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 1rem;
    background-color: #fff;
    margin-top: 0.5rem;
    cursor: pointer;
}

#book-section .right-text button:hover{
    color:#fff;
    background-color: var(--green);
}
#reviews-section .review{
    border: var(--border);
    border-radius: var(--border-radius);
    text-align: center;
}

#reviews-section .review .review-img-section{
    background-color: var(--green);
    color: #fff;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 2rem;
}
#reviews-section .review .review-img-section img{
    width: 30%; 
    border: solid #fff 0.5rem;
    border-radius: 50%;
}
#reviews-section .review p{
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 3rem;
    line-height: 1.8;
}
#reviews{
    margin-top: 2rem;
}

.blog-section{
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.blog-section img{
    width: 100%;
    flex:1;
}
.blog-section .icons{
    display: flex;
    justify-content: space-between;
}
.blog-section .icons i{
    color: var(--green);
    margin: 0.5rem;
}
.blog-section .icons{
    margin-top:1rem;
    font-size: 1rem;
}
.blog-section .icons .icon-text{
    color: var(--light-color)
}
.blog-section h3{
    font-size: 2rem;
    color: var(--black);
    text-shadow: var(--text-shadow);
    margin-top:1.5rem;
    margin-bottom:1.5rem;
}
.blog-section p{
    color: var(--light-color);
    font-size: 1.2rem;
    margin-bottom:1.5rem
}
.blog-section:hover img{
    transform: scale(1.1);
}




/* media queries */

@media(max-width: 768px){
    #menu-btn{
        display: initial;
    }

    .header #navigation{
        position: absolute;
        top:115%;
        right:2rem;
        border-radius: .5rem;
        width: 30rem;
        background: #fff;
        border: var(--border);
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    .header #navigation.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .header #navigation a{
        font-size: 2rem;
        display: block;
        margin:2.5rem;
    }

}
@media(max-width: 450px){
    html{
        font-size: 50%;
    }
}
